
/* Estilos de recuadros Diseño y construccion */



.elementContainer {
    display: flex;

    justify-content: center;

    padding-top: 4%;

    width: 100vw;
    min-height: 30vh;

    background-color: var(--green-main);
    color: var(--logo);


}

.textContainer {
    display: flex;

    justify-content: center;
    align-items: start;

    width: 30vw;
    min-height: 100%;


}

.textCenter {
    height: fit-content;
    width: 90%;

}

.tituloContainer {

    font-family: var(--JosefinSans);
    font-weight: 900;
    font-size: 4vh;

}

.descripcionContainer {

    padding-top: 1vh;

    font-family: sans-serif;
    font-size: 2vh;
    font-weight: 100;

    text-align: justify;

}

.imgContainer {
    display: flex;

    width: 40vw;
    min-height: 40vh;

    margin-bottom: 4vh;

    margin-left: 4vw;
    margin-right: 4vw;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



.img1 {
    
    border: solid 1px;
    
}

.img2 {

    border: solid 1px;
}

.img3 {

    border: solid 1px;
}


@media only screen and (max-width: 1200px) {

    .imgContainer {
        width: 50vw;
    }

}



@media only screen and (max-width: 950px) {

    .elementContainer {

        display: block;

    
        padding-bottom: 4vh;
       

    }

            
    .textContainer {
        display: flex;

        width: 100%;
        min-height: 20vh;

        text-align: justify;

        justify-content: center;
        align-items: center;
    
    
    } 

    .textCenter {
        width: 70%;
    }

    .imgContainer {
        display: flex;
    
        width: 60vw;
        min-height: 40vh;
    
        margin-top: 2vh;
        margin-bottom: 0vh;
    
        margin-left: 20vw;
        margin-right: 20vw;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
    }

    .tituloContainer {

        padding-top: 5vh;

        text-align: center;

        font-family: var(--JosefinSans);
        font-weight: 900;
        font-size: 4vh;
    
    }
    
    .descripcionContainer {
    
        padding-top: 1vh;
    
        font-family: sans-serif;
        font-size: 2vh;
        font-weight: 100;
    
    }

    .descriptionServices {
        width: 70%;

        margin: auto;

    }
    

    

   
}

@media only screen and (max-width: 650px) {
           
    .textContainer {
        display: flex;

        width: 100%;
        min-height: 20vh;


        text-align: justify;

        justify-content: center;
        align-items: center;
    
    
    } 

    .textCenter {
        width: 90%;
    }

    .imgContainer {
        display: flex;
    
        width: 90vw;
        min-height: 40vh;
    
        margin-top: 2vh;
        margin-bottom: 0vh;
    
        margin-left: 5vw;
        margin-right: 5vw;
    
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
    }

    .descriptionServices {
        width: 80%; 
    
    }
    
}
